COMPOSE_PROJECT_NAME=revision-prix
POSTGRES_DB=revision_prix
POSTGRES_USER=revision_prix
POSTGRES_PASSWORD=CHANGE_ME_WITH_A_LONG_RANDOM_VALUE
DJANGO_SECRET_KEY=CHANGE_ME_WITH_A_LONG_RANDOM_VALUE
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,revision-prix-backend
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:12701,http://localhost:12701
